###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/lock ###
LOCK_DSN=flock
###< symfony/lock ###

###> stripe/stripe-php ###
STRIPE_API_VERSION=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
###< stripe/stripe-php ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=
MESSENGER_STRIPE_TRANSPORT_DSN=
MESSENGER_STRIPE_FAILED_TRANSPORT_DSN=
###< symfony/messenger ###

